{% extends "registration/base.html" %}

{% block content %}
    <div class="row justify-content-center mt-150">
        <div class="col-3">
            <form method="post">
                {% csrf_token %}

                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        Incorrect Username or Password!
                    </div>
                {% endif %}

                <div class="mb-3">
                    <label for="id_username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="id_username"
                           value="{{ username }}" required/>
                </div>

                <div class="mb-3">
                    <label for="id_password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="id_password"
                           value="{{ password }}" autocomplete="off" required>
                </div>

                <div class="d-grid mt-4">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
