{% load static %}

<nav id="sidebar" class="">
    <div class="sidebar-header bg-primary">
        <h3>Student Management System</h3>
    </div>

    <ul class="components">
        <li class="">
            <a class="nav-link" href="{% url 'student_list' %}">Students</a>
        </li>
        <li>
            <a class="nav-link" href="{% url 'course_list' %}">Courses</a>
        </li>
        <li>
            <a class="nav-link" href="{% url 'enrollment_list' %}">Enrollments</a>
        </li>
        <li>
            <a class="nav-link" href="{% url 'instructor_list' %}">Instructors</a>
        </li>
    </ul>
</nav>