{% extends "students/base_generic.html" %}

{% block breadcrumbs %}
<div class="ps-3">
    <span class="">Course List</span> >
    <span class=""><a href="{% url 'course_create' %}">Add New Course</a></span>
</div>
{% endblock %}

{% block content %}
    <!--    search here    -->
    {% include "students/_search_form.html" %}

    <table class="table table-bordered align-middle">
        <thead>
            <tr>
                <th class="text-center" width="50px">SN</th>
                <th>Name</th>
                <th>Code</th>
                <th>Description</th>
                <th>Instructors</th>
                <th width="10%">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for course in object_list %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td><a href="{% url 'course_detail' course.pk %}">{{ course }}</a></td>
                    <td>{{ course.course_code }}</td>
                    <td>{{ course.description }}</td>
                    <td>
                        {% for instructor in course.instructors.all %}
                            <a class="btn btn-secondary" href="{% url 'instructor_detail' instructor.pk %}">{{ instructor }}</a>
                        {% endfor %}
                    </td>
                    <td>
                        <a class="btn btn-primary" title="Edit" href="{% url 'course_update' course.pk %}">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a class="btn btn-danger" title="Delete" href="{% url 'course_delete' course.pk %}">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!--    pagination here     -->
    {% include "students/_pagination.html" %}

{% endblock %}
