{% extends "students/base_generic.html" %}

{% block breadcrumbs %}
<div class="ps-3">
    <span class=""><a href="{% url 'enrollment_list' %}">Enrollment List</a></span> >
    <span class=""><a href="{% url 'enrollment_create' %}">Add New Enrollment</a></span>
</div>
{% endblock %}

{% block content %}

    <p class="fs-4">Are you sure you want to delete "{{ enrollment }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirm</button>
        <a class="btn btn-secondary" href="{% url 'enrollment_list' %}">Cancel</a>
    </form>

{% endblock %}
