{% extends "students/base_generic.html" %}

{% block breadcrumbs %}
<div class="ps-3">
    <span class="">Instructor List</span> >
    <span class=""><a href="{% url 'instructor_create' %}">Add New Instructor</a></span>
</div>
{% endblock %}

{% block content %}


    <table class="table table-bordered align-middle">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Courses</th>
                <th width="10%">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for instructor in object_list %}
                <tr>
                    <td><a href="{% url 'instructor_detail' instructor.pk %}">{{ instructor }}</a></td>
                    <td>{{ instructor.email }}</td>
                    <td>
                        {% for course in instructor.courses.all %}
                            <a class="btn btn-secondary" href="{% url 'course_detail' course.pk %}">{{ course }}</a>
                        {% endfor %}
                    </td>
                    <td>
                        <a class="btn btn-primary" title="Edit" href="{% url 'instructor_update' instructor.pk %}">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a class="btn btn-danger" title="Delete" href="{% url 'instructor_delete' instructor.pk %}">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
