{% extends "students/base_generic.html" %}

{% block breadcrumbs %}
<div class="ps-3">
    <span class=""><a href="{% url 'instructor_list' %}">Instructor List</a></span> >
    <span class=""><a href="{% url 'instructor_create' %}">Add New Instructor</a></span>
</div>
{% endblock %}

{% block content %}

    <p class="fs-4">Are you sure you want to delete "{{ instructor }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirm</button>
        <a class="btn btn-secondary" href="{% url 'instructor_list' %}">Cancel</a>
    </form>

{% endblock %}
