{% extends "students/base_generic.html" %}

{% block breadcrumbs %}
<div class="ps-3">
    <span class="">Student List</span> >
    <span class=""><a href="{% url 'student_create' %}">Add New Student</a></span>
</div>
{% endblock %}

{% block content %}
    <!--    search here    -->
    {% include "students/_search_form.html" %}

    <table class="table table-bordered align-middle">
        <thead>
            <tr>
                <th class="text-center" width="50px">SN</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>DOB</th>
                <th>Courses Enrolled In</th>
                <th width="10%">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for student in object_list %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td><a href="{% url 'student_detail' student.pk %}">{{ student }}</a></td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.date_of_birth }}</td>
                    <td>
                        {% for enroll in student.enrollment_set.all %}
                            <a class="btn btn-secondary" href="{% url 'course_detail' enroll.course.pk %}">{{ enroll.course }}</a>
                        {% endfor %}
                    </td>
                    <td>
                        <a class="btn btn-primary" title="Edit" href="{% url 'student_update' student.pk %}">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a class="btn btn-danger" title="Delete" href="{% url 'student_delete' student.pk %}">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!--    pagination here     -->
    {% include "students/_pagination.html" %}

{% endblock %}
