{% extends "students/base_generic.html" %}

{% block breadcrumbs %}
<div class="ps-3">
    <span class=""><a href="{% url 'student_list' %}">Student List</a></span> >
    <span class=""><a href="{% url 'student_create' %}">Add New Student</a></span>
</div>
{% endblock %}

{% block content %}

    <p class="fs-4">Are you sure you want to delete "{{ student }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirm</button>
        <a class="btn btn-secondary" href="{% url 'student_list' %}">Cancel</a>
    </form>

{% endblock %}
